
.bs{
    height: 200px;
    background-image: linear-gradient(to right,  rgb(5, 83, 152),rgb(186, 205, 231));
    margin-bottom: 2px;
    animation: bgcolor infinite 5s;
}
@keyframes bgcolor{
    10%{
        background-image: linear-gradient(to left,  rgb(87, 131, 135), rgba(75, 99, 220, 0.171));
    }
        /* 50%{
        background-image: linear-gradient(to right, rgb(30, 44, 118), rgb(60, 64, 68));
    } */
    
}
.hes{
    margin-left: 33%;
}
.sub{
    margin-left: 10%;
    background-image: linear-gradient(to left, red, orange);
}
.in{
    font-size: 16pt;
    height: 50px;
}
